#app > .layout.base
	> header
		position fixed
		top 0
		left 0
		right 0
		height 50px
		background-color pink
		> a.menu
			background-image url('../img/icn-menu.png')
		> a.network
			background-image url('../img/icn-network.png')
		> a
			background-position center
			background-size 50%
			background-repeat no-repeat
			display inline-block
			height 32px
			width 40px
			border-radius 5px
			overflow hidden
			color transparent
			background-color gray
			position absolute
			left 10px
			top 10px
		> h1 ~ a
			left auto
			right 10px
		> h1
			text-align center
			font-size 24px
			padding 10px 0
			margin 0

	> article
		margin 50px 0
		padding 50px 0
		height 1000px

	> footer
		position fixed
		bottom 0
		left 0
		right 0
		height 50px
		background-color teal
