#app > .layout.install
	background-image url('/img/bg-subtle_dots.png')
	min-height 100%
	max-height 100%
	overflow hidden
	text-align center
	color #333
	> header
		padding 10px 0 0 0
		h1
			margin 0
			font-size: 24px
			font-weight 400
			b
				font-weight 800
	> article
		p
			margin 5px 0 15px 0
			font-size 15px
		img
			width 150px
			height 310px
	> footer
		position fixed
		bottom 0
		left 0
		right 0
		p
			font-size 15px
			font-weight 400
			margin 0
			b
				font-weight 700
		img
			margin-top 5px
			width 20px
			height 34.5px

@media (orientation: landscape)
	#app > .layout.install
		> header
			margin 0 0 0 -25px
			padding-left 50%
			text-align left
		> article
			p
				margin 0 0 0 -25px
				padding-left 50%
				text-align left
			img
				position absolute
				top 15px
				right 0
				padding-right 50%
				margin 0 40px 0 0
		> footer
			p
				margin 0 0 0 -25px
				padding-left 50%
				text-align left
