#app > .layout.install
	background-image url('/img/bg-subtle_dots.png')
	background-attachment fixed
	min-height 100%
	max-height 100%
	overflow hidden
	text-align center
	color #333
	> header
		padding 10px 0 0 0
		h1
			margin 0
			font-size: 24px
			font-weight 600
			b
				font-weight 800
	> article
		p
			margin 5px 0 15px 0
			font-size 15px
		img
			width 150px
			height 310px
	> footer
		position fixed
		bottom 0
		left 0
		right 0
		p
			font-size 15px
			font-weight 600
			margin 0
			b
				font-weight 700
		img
			margin-top 5px
			width 20px
			height 34.5px

@media (orientation: landscape)
	#app > .layout.install
		text-align left
		> header
			padding 15px 0 0 15px
		> article
			padding 0 0 0 15px
			img
				position absolute
				top 15px
				right 15px
		> footer
			text-align right
			p
				display inline-block
				margin-right -50px
				text-align center
				padding-right 56%
			img
				margin-right 56%
