#app > .layout.loading
	min-height 100%
	box-shadow 0 5px 5px rgba(47,39,29,.35), inset 0 2px 0 rgba(255,255,255,.3)
	background-image -webkit-radial-gradient(center center, 100% 100%, rgba(47,51,56,.81) 0%, rgba(22,24,26,.9) 100%),
		url(/img/natural_paper.jpg)
	> header
		text-align center
		img
			margin-top 100px
			width 50%
			height 50%
		h1
			color #fff
			font-family "Open Sans", sans-serif
			font-size 24px
			font-weight 800
			text-shadow 0 1px .5px rgba(0,0,0,.3)
