#app > .layout.schedule
	> article
		background-image url('/img/bg-subtle_dots.png')
		background-size 27px auto
		> a
			font-weight 700
			text-decoration none
			margin 5px
			padding 10px 0 10px 0
			display block
			text-align center
			border-radius 4px
			background-color #f0f1f2
			border 0.5px solid #c5cacb
			box-shadow inset 0px 0px 2px 0px rgba(0, 0, 0, 0.1),
				0px 0.5px 0px 0px rgba(255, 255, 255, 0.8)
			color #b7b9bb
			font-size 15px
			text-shadow 0.5px 1px 0 rgba(255, 255, 255, 0.9)
			vertical-align baseline
			&:before
				background-image url('/img/icn-addnew.png')
				background-repeat no-repeat
				background-size 13px
				content ' '
				display inline-block
				height 13px
				width 13px
				padding 0 6px 3px 0
				vertical-align bottom
		> #bookings-list
			background-color white
		> p
			margin 0
			padding 27.5px 0 13.75px 0
			font-size 9px
			font-weight 600
			text-align center
			> a
				display block
				background-image url('/img/icn-fuelup.png')
				background-size 27.5px auto
				background-repeat no-repeat
				background-position top center
				padding 27.5px 0 0 0
				color #333
				text-decoration none
				height 100%
				width 100%
				> b
					text-decoration underline
					color #0373a2