#app > .layout.schedule
	> article
		background-image url('/img/bg-subtle_dots.png')
		background-size 27px auto
		> a
			font-weight 700
			text-decoration none
			margin 2.5px
			padding 6px 0 7px 0
			vertical-align baseline
			display block
			color #fff
			font-size 15px
			text-align center
			border 1px solid #2a8299
			border-radius 5px / 4.5px
			box-shadow inset 0px 1px 1px rgba(255, 255, 255, 0.7)
			background-image linear-gradient(bottom, #0373a1 0%, #55cae8 100%)
			&:before
				background-image url('/img/icn-addnew.png')
				background-repeat no-repeat
				background-size 12.5px 12px
				content ' '
				display inline-block
				height 12px
				width 12.5px
				padding 0 6px 3px 0
				vertical-align bottom
		> #bookings-list
			background-color white
		> p
			margin 0
			padding 27.5px 0 13.75px 0
			font-size 9px
			font-weight 600
			text-align center
			> a
				display block
				background-image url('/img/icn-fuelup.png')
				background-size 27.5px auto
				background-repeat no-repeat
				background-position top center
				padding 27.5px 0 0 0
				color #333
				text-decoration none
				height 100%
				width 100%
				> b
					text-decoration underline
					color #0373a2
