<nav class="navigation primary">
	{{#before}}

		{{#if submit}}
		<button
			type="submit"
			form="{{submit}}"
		{{/if}}

		{{#if href}}
		<a
			href="{{href}}"
		{{/if}}

			{{#if direction}}
				rel="{{direction}}"
			{{/if}}

			{{#if icon}}
				class="{{type}} icon"
			{{/if}}
		>
			{{#if label}}
				{{label}}
			{{/if}}

		{{#if href}}
		</a>
		{{/if}}

		{{#if submit}}
		</button>
		{{/if}}

	{{/before}}

	<h1>{{title}}</h1>

	{{#after}}

		{{#if submit}}
		<button
			type="submit"
			form="{{submit}}"
		{{/if}}

		{{#if href}}
		<a
			href="{{href}}"
		{{/if}}

			{{#if direction}}
				rel="{{direction}}"
			{{/if}}

			{{#if icon}}
				class="{{type}} icon"
			{{/if}}
		>
			{{#if label}}
				{{label}}
			{{/if}}

		{{#if href}}
		</a>
		{{/if}}

		{{#if submit}}
		</button>
		{{/if}}

	{{/after}}
</nav>
