<form id="booking" class="bookings add">
	<section class="passenger">
		<h2>Passenger's details</h2>
		<div class="split">
			<label class="name"><input type="text" placeholder="Name" /></label>
			<label class="phone"><input type="tel" placeholder="Phone" /></label>
		</div>
		<label class="email"><input type="email" placeholder="E-mail" /></label>
	</section>
	<section class="datetime">
		<h2>Date & time</h2>
		<label class="pickup"><input type="datetime-local" placeholder="Pickup Time" /></label>
		<label class="dropoff"><input type="datetime-local" placeholder="Dropoff Time (optional)" /></label>
	</section>
	<section class="route">
		<h2>Pickup & dropoff locations</h2>
		<label class="pickup"><input type="text" placeholder="Pickup Address" /></label>
		<label class="stop"><input type="text" placeholder="Additional Stop (optional)" /></label>
		<label class="dropoff"><input type="text" placeholder="Dropoff Address (optional)" /></label>
		<button class="insert">Add a stop</button>
	</section>
	<section class="extras">
		<h2>Extras</h2>
		<label class="note"><textarea placeholder="Additional Information (optional)"></textarea></label>
	</section>
</form>
