<div class="bookings details">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
	<div id="map"></div>
	<section class="passenger">
		<div class="name">Willy Winka</div>
		<div class="phone">9012 3456</div>
	</section>
	<section class="datetime">
		<div class="time"></div>
		<div class="date"></div>
	</section>
	<section class="connection">
		<div class="train">NE 1949</div>
	</section>
	<section class="route">
		<div class="pickup">Farrer Park MRT, Taxi Stand</div>
		<div class="stop">Bugis Village, Taxi Stand</div>
		<div class="dropoff">NEX Shopping Center, Taxi Stand</div>
	</section>
	<section class="extras">
		<textarea class="note">
			Will be carrying lots of groceries and a baby.
			Need baby seat.
			Please ensure boot has enough space for groceries.
		</textarea>
	</section>
</div>
