<div class="bookings details">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
	<section id="map"></section>
	<section class="passenger">
		<div class="name">Willy Winka</div>
		<a class="phone" href="callto:+6590123456">9012 3456</a>
	</section>
	<section class="datetime">
		<div class="pickup">Now</div>
		<div class="dropoff">15:30 - Today, 15 June</div>
	</section>
	<section class="connection">
		<div class="train">NE 1949</div>
	</section>
	<section class="route">
		<a class="pickup" href="/bookings/map">Farrer Park MRT, Taxi Stand</a>
		<a class="stop" href="/bookings/map">Bugis Village, Taxi Stand</a>
		<a class="dropoff" href="/bookings/map">NEX Shopping Center, Taxi Stand</a>
	</section>
	<section class="extras">
		<div class="note">
			{{special_instructions}}
		</div>
	</section>
</div>
