<div class="bookings details">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />

	<section id="map"></section>

	{{#with passenger}}
	<section class="passenger">
		{{#if full_name}}
		<div class="name">{{full_name}}</div>
		{{/if}}

		{{#if phone}}
		<a class="phone" href="callto:{{phone}}">{{phone}}</a>
		{{/if}}
	</section>
	{{/with}}

	<section class="datetime">
		{{#if pickup_time}}
		<div class="pickup">{{{moment pickup_time format="H:mm [&mdash;] dddd Do MMM, YYYY"}}}</div>
		{{/if}}

		{{#if dropoff_time}}
		<div class="dropoff">{{{moment dropoff_time format="H:mm [&mdash;] dddd Do MMM, YYYY"}}}</div>
		{{/if}}
	</section>

	{{#if connection_type}}
	<section class="connection">
		<div class="train" data-connection-type="{{connection_type}}">{{connection}}</div>
	</section>
	{{/if}}

	{{#if route}}
	<section class="route">
		{{#each route}}
		<a href="/bookings/map/stop/{{location.coordinates.[0]}}/{{location.coordinates.[1]}}">{{formatted_address}}</a>
		{{/each}}
	</section>
	{{/if}}

	{{#if special_instructions}}
	<section class="extras">
		<div class="note">
			{{special_instructions}}
		</div>
	</section>
	{{/if}}
</div>
