<ol class="bookings list">
	{{#each calendar}}
	<li {{#if active}} class="active" {{/if}}>
		<time>{{pretty}}</time>
		<ol>
			{{#each bookings}}
			<li {{#if active}} class="active" {{/if}}>
				<a href="{{link}}">
					<aside>
						{{#if pickup_time}}<span class="time">{{{moment pickup_time format="HH:MM"}}}</span>{{/if}}
						{{#if dropoff_time}}<span class="until"><i>to</i> {{{moment dropoff_time format="HH:MM"}}}</span>{{/if}}
						{{#if duration}}<span class="duration"><b>{{duration}}</b></span>{{/if}}
						{{#if distance}}<span class="distance">{{distance}}km</span>{{/if}}
						{{#if eta}}<span class="eta">{{eta}}</span>{{/if}}
					</aside>
					<ol>
						{{#each route}}
						<li>{{street_number}} {{route}}</li>
						{{/each}}
					</ol>
				</a>
			</li>
			{{/each}}
		</ol>
	</li>
	{{/each}}
</ol>
