<section class="layout base schedule">
	<header>
		<a href="/menu" rel="prev">Home</a>
		<h1>Schedule</h1>
		<a href="/drivers/network" class="network icon">Network</a>
	</header>
	<article>
		<a href="/bookings/add">Add new booking...</a>
	</article>
	<footer>
		<a href="/bookings/available" class="icon available" data-counter="3">Available Jobs</a>
		<a href="/bookings/schedule" class="icon schedule selected">My Schedule</a>
		<a href="/bookings/assigned" class="icon assigned">Reassigned Jobs</a>
	</footer>
</section>