#app .bookings.available-map
	height 100%
	> header
		width 100%
		height 40px
		box-sizing border-box
		border-bottom 1px solid #c5cacb
		overflow hidden
		position relative
		z-index 1
		> h1
			font-size 0
			margin 0
			text-align center
			height 100%
			> a
				display block
				height 100%
				width 100%
				text-decoration none
				padding 5px 0 0 0
				&:before
					content ' '
					background-image url('/img/map/icn-search-inactive.png')
					background-repeat no-repeat
					background-size 16px 15.5px
					background-position center
					display inline-block
					width 39px
					height 39px
					border-right 1px solid #c5cacb
					position absolute
					left 0
					top 0
				> i
					display block
					color #0373a2
					font-weight 700
					font-size 9px
					text-transform uppercase
					font-style normal
				> b
					color #333
					font-weight 600
					font-size 12px
					text-transform uppercase
		> a
			overflow hidden
			font-size 0
			content ' '
			background-image url('/img/map/icn-map-active.png')
			background-repeat no-repeat
			background-size auto 18px
			background-position center
			display inline-block
			width 39px
			height 39px
			border-left 1px solid #c5cacb
			position absolute
			right 0
			top 0
	> article
		position relative
		height 100%
		margin-top -40px
		padding-top 40px
		box-sizing border-box
		> div#map
			height 100%
			width 100%
			overflow hidden
		> img
			position absolute
			pointer-events none
			width 32px
			height 32.5px
			top 50%
			left 50%
			margin -16.25px 0 0 -16px
		> button
			padding 0
			border-width 0
			font-size 0
			display inline-block
			height 44px
			width 44px
			border-radius 5px
			position absolute
			bottom 16px
			right 16px
			background-image url('/img/map/btn-gps.png')
			background-color transparent
			background-size 44px auto
			background-position center
			background-repeat no-repeat
